services:
  grafana:
    image: {{ grafana_image }}
    container_name: grafana
    ports:
      - "{{ http_port }}:3000"
    volumes:
      - ./config/grafana.ini:/etc/grafana/grafana.ini
      - ./data:/var/lib/grafana
    restart: unless-stopped